# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/artisticcarpets

# JWT
JWT_SECRET=o2I66O8viUc5ClFWrARjysaATLcnwM5EYehDAD4icPS
JWT_REFRESH_SECRET=Krnx0D8l8IJ74aBWW5EUvX3M18M1K0wbQjvif3Pigds
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001

# Google OAuth
GOOGLE_CLIENT_ID=194630098147-lkvq58thil2pqacavb59o8q4l9u3ha79.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
